{% load static %}
<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' type='text/css' href='{% static "css/style.css" %}'>
        <title>DjangoGrip</title>
    </head>
    <body>
        <div class="container">
            <h1>Bienvenue sur mon site pour prendre en main de Django</h1>
            <h2>Aujourd'hui nous sommes le {{date | date:'d F Y'}}</h2>
            <h3>Vous avez accédé au site à {{date | date:'H\hi'}}</h3>
            <h4>{{name}}, {{age}} ans</h4>
        </div>
    </body>
</html>
