@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    height: 100%;
    margin: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url('anime.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: gainsboro;
}